@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

h3,
h4,
a,
p,
li,
body {
	font-family: 'Nunito';
	font-weight: normal;
	font-size: 24px;
}

h1,
h2 {
	font-family: 'Nunito';
	font-weight: bold;
	font-size: 32px;
}
